@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*! Reset/normalize hybrid with major contributions from normalize.css, html5doctor.com Reset Stylesheet, and http://html5reset.org/

* Sam Richard - http://snugug.com/
* Nicholas Gallagher, Jonathan Neal - http://necolas.github.io/normalize.css/
* Richard Clark - http://richclarkdesign.com
* Tim Murtaugh - http://monkeydo.biz/
*/
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
main,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ul {
  list-style: none;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 1em 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
input[type="button"] {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="file"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

input,
select {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  -webkit-box-sizing: "border-box";
  -moz-box-sizing: "border-box";
  box-sizing: "border-box";
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

html {
  -webkit-box-sizing: "border-box";
  -moz-box-sizing: "border-box";
  box-sizing: "border-box";
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Variables
 */
/* Base colours */
/**
 * Include switches
 */
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: georgia, "times new roman", times, serif;
}

img {
  max-width: 100%;
}

p, h1, h2, h3, h4 {
  padding: 0.5em 0;
  color: #333;
}

a {
  color: #a03c3c;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px dashed #a03c3c;
}

h2 {
  font-size: 1.375em;
}

h1 {
  font-size: 1.625em;
}
@media screen and (min-width: 39.0625em) {
  h1 {
    font-size: 1.875em;
  }
}

p {
  font-size: 1.125em;
  line-height: 1.5;
  font-family: georgia,"times new roman",times,serif;
}

sup, sub {
  font-size: 0.8em;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

blockquote {
  font-style: italic;
  border-left: 7px solid #a03c3c;
  padding-left: 1em;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}
blockquote p {
  color: #666;
  padding-right: 1em;
}

figure figcaption {
  padding: 1em 0.5em 0;
  font-style: italic;
  color: #aaa;
}

header .container, main, footer .container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
header .container::after, main::after, footer .container::after {
  clear: both;
  content: "";
  display: table;
}

main {
  padding-bottom: 2em;
}

.element-invisible {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  line-height: 0;
  font-size: 0;
}

main {
  padding-top: 1em;
}

.row {
  display: block;
}
.row::after {
  clear: both;
  content: "";
  display: table;
}

.main {
  padding: 0 1em;
}
@media screen and (min-width: 43.75em) {
  .main {
    padding: 0 2em;
  }
}
@media screen and (min-width: 53.75em) {
  .main.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .main.columns:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 78.125em) {
  .main {
    padding: 0;
  }
}

@media screen and (min-width: 53.75em) {
  .sidebar-second.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .sidebar-second.columns:last-child {
    margin-right: 0;
  }
}

.magazine {
  font-style: italic;
  color: #CCC;
}

.intro {
  font-style: italic;
  color: #555;
  padding: 0.5em 0 0 0;
}
@media screen and (min-width: 39.0625em) {
  .intro {
    padding: 1em;
  }
}

.splash-image {
  text-align: center;
  margin: 0 -1em;
}
@media screen and (min-width: 39.0625em) {
  .splash-image {
    margin: 0;
  }
}
.splash-image img {
  margin: auto;
}
@media screen and (min-width: 39.0625em) {
  .splash-image img {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
  }
}

.entry-details {
  font-style: italic;
  color: #999;
  text-align: center;
}
.entry-details .pubdate:before {
  content: " · ";
}

.section--box {
  padding: 1em;
  background-color: #EEE;
  margin: 0.5em -0.5em;
}
.section--box img, .section--box figure {
  float: left;
  margin: 1em 1.5em 1em 0;
}
.section--box img {
  border: solid 0.25em #fff;
}
.section--box figure img {
  float: none;
  margin: 0;
}

.heading--cross_head {
  font-size: 1.5em;
}

.quote--quote {
  margin: 1em -0.5em;
}
@media screen and (min-width: 43.75em) {
  .quote--quote {
    float: left;
    width: 50%;
    margin: 1em 1.5em 1em -0.5em;
  }
}
.quote--quote p {
  font-size: 1.25em;
}

.section--footnotes {
  padding: 2em;
  font-size: 0.9375em;
}
.section--footnotes li {
  padding: 0.25em 0;
}

.feature-box {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.feature-box > * {
  margin-bottom: 0.625em;
}
.feature-box #featured {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  min-width: 75%;
}
.feature-box #featured .featured--images {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 100%;
  margin-bottom: 0;
}
.feature-box #featured .featured--images picture {
  line-height: 0;
}
.feature-box #featured .featured--images picture img {
  display: block;
  margin: auto;
  min-width: 100%;
}
.feature-box #featured .featured--links {
  min-width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 0;
  background-color: #eee;
  padding: 1em;
}
.feature-box #featured .featured--links h2 {
  margin: 0.22727em 0;
}
.feature-box #featured .featured--links p {
  margin: 0.27778em 0;
}
.feature-box #featured .featured--links .author, .feature-box #featured .featured--links .pubdate {
  text-decoration: none;
  color: #888;
  text-transform: capitalize;
  font-size: 0.8125em;
  margin: 1em auto;
}
.feature-box #featured .featured--links .author {
  padding-right: 1em;
  border-right: 1px solid #ddd;
}
.feature-box #featured .featured--links .author:before {
  content: "By ";
}
.feature-box #featured .featured--links .author:hover {
  border-bottom: 1px dashed;
}
.feature-box #featured .featured--links .pubdate {
  padding-left: 1em;
  border-left: 1px solid #fff;
}
.feature-box .featured--latest_magazine {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #eee;
  text-align: center;
  padding-top: 1em;
  min-width: 50%;
}
.feature-box .featured--latest_magazine img {
  margin: auto;
  display: block;
}
.feature-box .featured--latest_magazine .subscribe, .feature-box .featured--latest_magazine .read {
  text-decoration: none;
  color: #888;
  text-transform: uppercase;
  font-size: 0.8125em;
  margin-top: 1em;
  display: inline-block;
}
.feature-box .featured--latest_magazine .subscribe {
  padding-right: 1em;
  border-right: 1px solid #ddd;
}
.feature-box .featured--latest_magazine .read {
  padding-left: 1em;
  border-left: 1px solid #fff;
}
.feature-box .featured--article_box {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 100%;
  background-color: #ddd;
  padding: 1em;
  text-align: center;
}
.feature-box .featured--article_box img {
  margin: 1em auto 0;
}
.feature-box .featured--article_box p {
  margin: 1em auto;
  max-width: 16.875em;
  text-align: left;
}
.feature-box .featured--article_box .author, .feature-box .featured--article_box .pubdate {
  text-decoration: none;
  color: #888;
  text-transform: capitalize;
  font-size: 0.8125em;
  margin: 1em auto;
}
.feature-box .featured--article_box .author {
  padding-right: 1em;
  border-right: 1px solid #ccc;
}
.feature-box .featured--article_box .author:before {
  content: "By ";
}
.feature-box .featured--article_box .author:hover {
  border-bottom: 1px dashed;
}
.feature-box .featured--article_box .pubdate {
  padding-left: 1em;
  border-left: 1px solid #eee;
}

@media screen and (min-width: 30em) {
  .feature-box .featured--article_box img {
    float: left;
    max-width: 48%;
    margin: 0;
  }
  .feature-box .featured--article_box p, .feature-box .featured--article_box h2 {
    float: right;
    width: 50%;
    margin: 0.5em 0;
  }
  .feature-box .featured--article_box h2 {
    margin: 0;
    padding-left: 0.63636em;
    text-align: left;
  }
  .feature-box .featured--article_box p {
    padding-left: 0.77778em;
  }
  .feature-box .featured--article_box .entry-details {
    display: inline-block;
    margin: 0.625em 0 0 0;
  }
}
@media screen and (min-width: 39.0625em) {
  .feature-box .featured--latest_magazine {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 50%;
  }
  .feature-box .featured--article_box {
    min-width: 50%;
  }
  .feature-box .featured--article_box:nth-child(odd) {
    min-width: 49%;
    margin-left: 1%;
  }
  .feature-box .featured--article_box img, .feature-box .featured--article_box p, .feature-box .featured--article_box h2 {
    clear: both;
    float: none;
    max-width: 100%;
    margin: auto;
  }
  .feature-box .featured--article_box p {
    padding: 0.5em 0;
  }
  .feature-box .featured--article_box p, .feature-box .featured--article_box h2 {
    width: auto;
  }
  .feature-box .featured--article_box h2 {
    padding: 0.5em 0 0;
  }
  .feature-box .featured--article_box img {
    padding: 1em 0 0;
  }
}
@media screen and (min-width: 46.25em) {
  .feature-box #featured {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    align-content: center;
    -ms-flex-line-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    min-width: 100%;
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    box-flex: 3;
    -webkit-flex: 3 auto;
    -moz-flex: 3 auto;
    -ms-flex: 3 auto;
    flex: 3 auto;
  }
  .feature-box #featured .featured--images {
    min-width: 66.666%;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .feature-box #featured .featured--images img {
    min-width: 100%;
  }
  .feature-box #featured .featured--links {
    min-width: 33.333%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .feature-box .featured--latest_magazine {
    min-width: 49.5%;
  }
  .feature-box .featured--article_box {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 33.333%;
    text-align: center;
  }
  .feature-box .featured--article_box img {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 61.25em) {
  .feature-box #featured {
    min-width: 75%;
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    box-flex: 3;
    -webkit-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
  .feature-box #featured .featured--images {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .feature-box #featured .featured--images img {
    min-width: none;
  }
  .feature-box #featured .featured--links {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .feature-box .featured--latest_magazine {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 25%;
  }
  .feature-box .featured--latest_magazine img {
    margin-bottom: 0.25em;
    max-width: 78%;
  }
  .feature-box .featured--article_box {
    margin-left: 1%;
  }
  .feature-box .featured--article_box:nth-child(odd) {
    margin-left: 0;
  }
  .feature-box .featured--article_box:nth-child(5), .feature-box .featured--article_box:nth-child(6), .feature-box .featured--article_box:nth-child(7) {
    min-width: 30%;
  }
  .feature-box .featured--article_box:nth-child(5) img, .feature-box .featured--article_box:nth-child(6) img, .feature-box .featured--article_box:nth-child(7) img {
    margin-top: 0;
    max-width: 100%;
  }
  .feature-box .featured--article_box:nth-child(6), .feature-box .featured--article_box:nth-child(7) {
    margin-left: 1%;
  }
}
.header {
  width: 100%;
}
@media screen and (min-width: 46.25em) {
  .header .logo-block {
    width: 100%;
    height: 110px;
  }
}
.header .menu-bar {
  width: 100%;
  background-color: #a03c3c;
  height: 45px;
  position: sticky;
  top: 110px;
}

html, body {
  height: 100%;
}

main {
  min-height: 100%;
  margin: 0 auto -45em;
  /* the bottom margin is the negative value of the footer's height */
}
@media screen and (min-width: 39.0625em) {
  main {
    margin: 0 auto -26.25em;
    /* the bottom margin is the negative value of the footer's height */
  }
}

footer, .push {
  height: 45em;
  /* '.push' must be the same height as 'footer' */
}
@media screen and (min-width: 39.0625em) {
  footer, .push {
    height: 26.25em;
    /* '.push' must be the same height as 'footer' */
  }
}

footer {
  background-color: #333;
}
footer h2, footer p, footer a {
  color: #eee;
}

.footer {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%;
}
.footer .footer-logo {
  margin-bottom: 2em;
  text-align: center;
}
.footer .footer-logo img {
  height: 3em;
}
.footer .footer-links {
  margin-bottom: 1.5em;
}
.footer .footer-links::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 39.0625em) {
  .footer .footer-links {
    margin-left: 25.58941%;
  }
}
.footer ul {
  margin-bottom: 3em;
  padding: 0;
}
@media screen and (min-width: 39.0625em) {
  .footer ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .footer ul:last-child {
    margin-right: 0;
  }
  .footer ul:nth-child(3n) {
    margin-right: 0;
  }
  .footer ul:nth-child(3n+1) {
    clear: left;
  }
  .footer ul::after {
    clear: both;
    content: "";
    display: table;
  }
}
.footer li {
  line-height: 1.5em;
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 39.0625em) {
  .footer li {
    text-align: left;
  }
}
.footer li a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
.footer li a:focus, .footer li a:hover {
  color: white;
}
.footer li h3 {
  color: white;
  font-size: 1em;
  font-weight: 800;
  margin-bottom: 0.4em;
}
.footer hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 auto 1.5em;
  width: 12em;
}
.footer p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9em;
  line-height: 1.5em;
  margin: auto;
  max-width: 35em;
  text-align: center;
}

.breadcrumb {
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 0;
  text-align: left;
}
.breadcrumb a {
  background-color: white;
  border-left: 0;
  border: 1px solid gainsboro;
  color: #999;
  display: inline-block;
  font-size: 0.8em;
  line-height: 2em;
  margin-bottom: 2px;
  margin-right: -5px;
  padding: 0 0.5em 0 1em;
  position: relative;
  text-decoration: none;
}
.breadcrumb a:first-child {
  border-bottom-left-radius: 3px;
  border-left: 1px solid gainsboro;
  border-top-left-radius: 3px;
  padding-left: 1em;
}
.breadcrumb a:not(:first-child) {
  border-left: none;
}
.breadcrumb a:last-child {
  background-color: white;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #999;
  padding-right: 1em;
}
.breadcrumb a:focus, .breadcrumb a:hover {
  background-color: white;
  color: #477DCA;
}
.breadcrumb a:after, .breadcrumb a:before {
  position: absolute;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 100%;
  border-bottom: 1em solid transparent;
  border-left: 0.5em solid transparent;
  border-top: 1em solid transparent;
  content: '';
  display: block;
  margin: auto;
  z-index: 2;
}
.breadcrumb a:last-child:after, .breadcrumb a:last-child:before {
  border: none;
}
.breadcrumb a:before {
  border-left-color: gainsboro;
  margin-left: 1px;
  z-index: 1;
}
.breadcrumb a:after {
  border-left-color: white;
}
@media screen and (min-width: 46.25em) {
  .breadcrumb a {
    font-size: 1em;
    padding: 0 1em 0 1.33333em;
  }
}

.enews {
  margin: 1em auto;
  max-width: 29.25em;
}
.enews h3 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  border-bottom: 2px solid #eee;
  color: #333;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  text-align: center;
}
.enews form.enews_form {
  position: relative;
}
.enews form.enews_form input[type=email] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border-radius: 3px;
  border: 1px solid gainsboro;
  display: block;
  font-size: 1em;
  font-style: italic;
  margin: 0;
  padding: 0.33333em 0.33333em;
  position: relative;
  width: 100%;
}
.enews form.enews_form button[type=submit] {
  background-color: #477DCA;
  border-radius: 3px;
  border: 0;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  position: absolute;
  top: 0em;
  right: 0em;
  bottom: 0em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  outline: none;
  padding: 5px 10px;
}
.enews form.enews_form button[type=submit]:hover:not(:disabled) {
  background-color: #578ad4;
  cursor: pointer;
}
.enews form.enews_form button[type=submit]:active:not(:disabled), .enews form.enews_form button[type=submit]:focus:not(:disabled) {
  background-color: #3c71bb;
  cursor: pointer;
}
.enews form.enews_form button[type=submit]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.advert_block {
  text-align: center;
  padding: 1em 0;
}
.advert_block picture {
  margin: auto;
}

.article_list {
  margin: 0.5em auto;
  max-width: 29.25em;
  background-color: #EEE;
}
.article_list h2 {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #497CA4;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.article_list ul {
  padding: 1em;
}
.article_list ul li {
  padding: 0.25em 0;
}
.article_list ul li a {
  line-height: 1.5;
}
.article_list ul li time {
  display: block;
  color: #666;
  font-style: italic;
}
.article_list .more-link {
  padding: 0 1em 1em;
  text-align: right;
}
.article_list .more-link a {
  background-color: #477DCA;
  border-radius: 3px;
  border: 0;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
}
.article_list .more-link a:hover:not(:disabled) {
  background-color: #578ad4;
  cursor: pointer;
}
.article_list .more-link a:active:not(:disabled), .article_list .more-link a:focus:not(:disabled) {
  background-color: #3c71bb;
  cursor: pointer;
}
.article_list .more-link a:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.flex-boxes {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  text-align: center;
}
.flex-boxes::after {
  clear: both;
  content: "";
  display: table;
}
.flex-boxes .flex-box {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2 2 15em;
  -moz-flex: 2 2 15em;
  -ms-flex: 2 2 15em;
  flex: 2 2 15em;
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #DDD, 0 2px 4px #e6e6e6;
  display: block;
  margin: 0.4em;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
}
.flex-boxes .flex-box:nth-child(1) {
  border-top: 6px solid tomato;
}
.flex-boxes .flex-box:nth-child(1):focus, .flex-boxes .flex-box:nth-child(1):hover {
  background-color: rgba(255, 99, 71, 0.1);
}
.flex-boxes .flex-box:nth-child(2) {
  border-top: 6px solid #72BFBF;
}
.flex-boxes .flex-box:nth-child(2):focus, .flex-boxes .flex-box:nth-child(2):hover {
  background-color: rgba(114, 191, 191, 0.1);
}
.flex-boxes .flex-box:nth-child(3) {
  border-top: 6px solid #92B1E3;
}
.flex-boxes .flex-box:nth-child(3):focus, .flex-boxes .flex-box:nth-child(3):hover {
  background-color: rgba(146, 177, 227, 0.1);
}
.flex-boxes .flex-box:nth-child(4) {
  border-top: 6px solid #E3D743;
}
.flex-boxes .flex-box:nth-child(4):focus, .flex-boxes .flex-box:nth-child(4):hover {
  background-color: rgba(227, 215, 67, 0.1);
}
.flex-boxes .flex-box:nth-child(5) {
  border-top: 6px solid #CCC;
}
.flex-boxes .flex-box:nth-child(5):focus, .flex-boxes .flex-box:nth-child(5):hover {
  background-color: rgba(204, 204, 204, 0.1);
}
.flex-boxes .flex-box:nth-child(6) {
  border-top: 6px solid #F6C05C;
}
.flex-boxes .flex-box:nth-child(6):focus, .flex-boxes .flex-box:nth-child(6):hover {
  background-color: rgba(246, 192, 92, 0.1);
}
.flex-boxes .flex-box img {
  display: block;
  height: 3em;
  margin-bottom: 2em;
  margin: auto;
  opacity: 0.4;
}
.flex-boxes .flex-box .flex-title {
  color: rgba(51, 51, 51, 0.7);
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 0.5em;
}
.flex-boxes .flex-box p {
  color: rgba(51, 51, 51, 0.6);
  line-height: 1.5em;
  margin: auto;
}
.flex-boxes .flex-box-big {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 40em;
  -moz-flex: 1 1 40em;
  -ms-flex: 1 1 40em;
  flex: 1 1 40em;
}

/*# sourceMappingURL=full.css.map */
