html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

* {
  font-family: "Libre Baskerville",Helvetica,Arial,sans-serif;
}

img {
  max-width: 100%;
}

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
main::after {
  clear: both;
  content: "";
  display: table;
}

.feature-box {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.feature-box #featured {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  min-width: 75%;
}
.feature-box #featured .featured--images {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  min-width: 66%;
}
.feature-box #featured .featured--images picture {
  display: none;
  line-height: 0;
}
.feature-box #featured .featured--images picture.viewing {
  display: block;
}
.feature-box #featured .featured--links {
  min-width: 33%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
}
.feature-box #featured .featured--links h2, .feature-box #featured .featured--links p {
  margin: 0.5em 1em 0 0.5em;
}
.feature-box #featured .featured--links h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.25em;
}
.feature-box #featured .featured--links a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 25%;
  margin: 0;
  background-color: #eee;
}
.feature-box #featured .featured--links a.selected {
  background-color: #ccc;
}
.feature-box .featured--latest_magazine {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #eee;
  text-align: center;
  padding-top: 1em;
  width: 25%;
}
.feature-box .featured--latest_magazine img {
  margin: auto;
}
.feature-box .featured--latest_magazine .subscribe, .feature-box .featured--latest_magazine .read {
  text-decoration: none;
  color: #888;
  text-transform: uppercase;
  font-size: 0.8125em;
  margin-top: 1em;
}
.feature-box .featured--latest_magazine .subscribe {
  padding-right: 1em;
  border-right: 1px solid #ddd;
}
.feature-box .featured--latest_magazine .read {
  padding-left: 1em;
  border-left: 1px solid #fff;
}
.feature-box .featured--article_box {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 25%;
  background-color: #ddd;
  padding-bottom: 1em;
}
.feature-box .featured--article_box p {
  margin: 0 1em;
  text-align: left;
  color: #333;
}

@media screen and (min-width: 46.25em) {
  .feature-box #featured {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    align-content: center;
    -ms-flex-line-pack: center;
    min-width: 100%;
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    box-flex: 3;
    -webkit-flex: 3 auto;
    -moz-flex: 3 auto;
    -ms-flex: 3 auto;
    flex: 3 auto;
  }
  .feature-box #featured .featured--images {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .feature-box #featured .featured--images img {
    min-width: 100%;
  }
  .feature-box #featured .featured--links {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .feature-box .featured--latest_magazine {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 33.333%;
  }
  .feature-box .featured--article_box {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 33.333%;
    text-align: center;
  }
  .feature-box .featured--article_box img {
    max-width: 90%;
    margin: 1em auto;
  }
}
@media screen and (min-width: 61.25em) {
  .feature-box #featured {
    min-width: 75%;
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    box-flex: 3;
    -webkit-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
  .feature-box #featured .featured--images {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .feature-box #featured .featured--images img {
    min-width: none;
  }
  .feature-box #featured .featured--links {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .feature-box .featured--latest_magazine {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 25%;
  }
  .feature-box .featured--latest_magazine img {
    margin-bottom: 1em;
  }
  .feature-box .featured--article_box {
    min-width: 20%;
  }
  .feature-box .featured--article_box:nth-child(5), .feature-box .featured--article_box:nth-child(6) {
    min-width: 20%;
  }
}

/*# sourceMappingURL=main.css.map */
