/**
 * Variables
 */

////  Breakpoints ////

$ex-small: em(480);
$small: em(625);
$small-medium: em(700);
$medium: em(740);
$medium-large: em(860);
$large: em(980);
$ex-large: em(1250);


//// Element sizes ////
$footer_height: em(200);

//// Fonts, Sizes & Line height ////
$font-family_main: "Libre Baskerville",Helvetica,Arial,sans-serif;
$p_size: 18;
$p_line-height: 1.5;
$h3_size: 20;
$h2_size: 22;
$h1_size: 26;
$footnote_size: 15;


//// Size & Position ////


//// Colours ////
$prime_color: #a03c3c;
$footer_bg: #333;
$footer_text-color: #eee;
$main_text-color: #333;

/* Base colours */
$base_text-color: #333;



/**
 * Include switches
 */

$use_breadcrumbs: true;
