/**
 * Variables
 */


////  Breakpoints

$ex-small: em(480);
$small: em(625);
$tablet: em(740);
$desktop: em(980);


//// Element sizes
$footer_height: em(200);

//// Fonts & Sizes
$font-family_main: "Libre Baskerville",Helvetica,Arial,sans-serif;
$p_size: 18;
$h2_size: 22;
$h1_size: 24;


