
html, body {
    height: 100%;
}
main {
    min-height: 100%;
    margin: 0 auto -#{$footer_height}; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
    height: $footer_height; /* '.push' must be the same height as 'footer' */
}


footer {
    background-color: $footer_bg;
    h2, p, a {
        color: $footer_text-color;
    }
}
