
main {
    padding-top: 1em;
}

.row {
    @include row();
}

.main {
    padding: 0 1em;
    @include media($small-medium) {
        padding: 0 2em;
    }

    @include media($medium-large) {
        &.columns {
            @include span-columns(8);
        }
    }


    @include media($ex-large) {
        padding: 0;
    }
}

.sidebar-second {

    @include media($medium-large) {
        &.columns {
            @include span-columns(4);
        }
    }

}

.magazine {
    font-style: italic;
    color: nth($grey_palett-a, 5); // #ccc;
}

.intro {
    font-style: italic;
    color: #555;
    padding: 0.5em 0 0 0;
    @include media($small) {
        padding: 1em;
    }
}

.splash-image {
    text-align: center;
    margin: 0 -1em;
    @include media($small) {
        margin: 0;
    }
    img {
        margin: auto;
        @include media($small) {
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
            border: 2px solid #fff;
        }
    }
}

.entry-details {
    font-style: italic;
    color: #999;
    text-align: center;
    .pubdate {
        
        &:before {
            content: " · ";
        }
    }

}
.section--box {
    padding: 1em;
    background-color: nth($grey_palett-a, 6); // #eee;
    margin: 0.5em -0.5em;

    img, figure {
        float: left;
        margin: 1em 1.5em 1em 0;
    }

    img {
        border: solid 0.25em #fff; 
    }

    figure {
        img {
            float: none;
            margin: 0;
        }
    }

}

.heading--cross_head {
    font-size: em(24);
}

.quote--quote {
    margin: 1em -0.5em;
    
    @include media($small-medium) {
        float: left;
        width: 50%;
        margin: 1em 1.5em 1em -0.5em;
    }
    p {
        font-size: em(20);
    }
}

.section--footnotes {
    padding: 2em;
    font-size: em($footnote_size);
    li {
        padding: 0.25em 0;
    }

}
