
.row {
    @include row();
}

.main {
    padding: 0 2em;

    @include media($medium-large) {
        &.columns {
            @include span-columns(8);
        }
    }


    @include media($ex-large) {
        padding: 0;
    }
}

.sidebar-second {

    @include media($medium-large) {
        &.columns {
            @include span-columns(4);
        }
    }

}

.magazine {
    font-style: italic;
    color: #ccc;
}

.intro {
    font-style: italic;
    color: #555;
    padding: 1em;
}

.splash-image {
    text-align: center;
    img {
        margin: auto;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
        border: 2px solid #fff;
    }
}

.entry-details {
    font-style: italic;
    color: #999;
    text-align: center;
    .pubdate {
        
        &:before {
            content: " · ";
        }
    }

}
.section--box {
    padding: 1em;
    background-color: #eee;
    margin: 0.5em 0;

    img, figure {
        float: left;
        margin: 1em 1.5em 1em 0;
    }

    img {
        border: solid 0.25em #fff; 
    }

    figure {
        img {
            float: none;
            margin: 0;
        }
    }

}

.heading--cross_head {
    font-size: em(24);
}

.quote--quote {
    float: left;
    width: 50%;
    margin: 1em 1.5em 1em -1em;
}

.section--footnotes {
    padding: 2em;
    font-size: em($footnote_size);
    li {
        padding: 0.25em 0;
    }

}
